/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: #fffef8;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  position: relative;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

section {
  margin: 100px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

.top-bar {
  display: flex;
  justify-content: center;
  background-color: #000000;
  width: 100%;
  height: 59px;
}

.top-bar-text > .fa-pen-to-square {
  color: #ffffff;
  background-color: #000000;
  margin-right: 10px;
}

.project-heading {
  display: flex;
  justify-content: center;
}

.top-bar-text {
  color: #ffffff;
  text-align: center;
  margin-top: 21px;
  background-color: #000000;
}

.nav-user-only {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 20px;
  font-size: 1.2em;
}
.nav {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}
.nav:hover {
  color: #b1663c;
}
.nav:focus {
  color: black;
  font-weight: 700;
}

#instagramIcon {
  height: 18px;
  width: 18px;
  margin-top: 6px;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}
#introduction p {
  margin-bottom: 0.5em;
  width: 405px;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

/* filter buttons */
.filter-buttons {
  text-align: center;
  margin-bottom: 2em;
}

.button,
.filter-button {
  height: 45px;
  width: fit-content;
  border-radius: 25px;
  border: 2px solid #1d6154;
  margin: 5px;
  padding: 0px 20px;
  font-family: Syne;
  color: #1d6154;
  font-weight: 700;
  font-size: 16px;
  background-color: #fffef8;
  text-transform: capitalize;
}

#all-button {
  padding: 0 45px;
}

.button:hover {
  color: #fffef8;
  background-color: #1d6154;
}

.button:active,
.button:focus {
  color: #fffef8;
  background-color: #0e2f28;
}

/* job gallery */
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}

/* contact section */
#contact {
  width: 50%;
  margin: auto;
}

#login {
  width: 40%;
  margin: 100px auto;
}

#contact,
#login,
.forgotPassword > * {
  text-align: center;
}
#contact h2,
#login,
h2 {
  margin-bottom: 20px;
}
#contact form,
#login form,
.modal-add-photo form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input,
#login input,
#title,
.modal-add-photo select,
#modal-confirm input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
#login label,
.add-photo-form label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"],
.modal-add-photo-button {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 156px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}

/* footer */
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* login page css */
.forgotPassword {
  text-align: center;
  color: black;
  margin-bottom: 200px;
}

/* modal */
.modal-open {
  display: flex;
  justify-content: space-between;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  border: hidden;
  margin-left: 20px;
  margin-top: 6px;
  cursor: pointer;
}

.modal-open > .fa-pen-to-square {
  color: #000000;
  background-color: #ffffff;
  margin-right: 10px;
}

.modal,
.modal-add-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 630px;
  height: 688px;
  position: absolute;
  left: 22%;
  top: 15%;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 2;
}

.modal-add-photo-button {
  width: 193px;
}

.modal-title {
  font-family: Work Sans;
  font-size: 26px;
  font-weight: 400;
  line-height: 30.5px;
  text-align: center;
}

.close-x,
.back-arrow,
.close-x2 {
  font-family: Work Sans;
  font-size: 26px;
  font-weight: 700;
  line-height: 24px;
  margin: 20px;
  background-color: #ffffff;
  border: hidden;
  text-align: center;
  cursor: pointer;
}

.close-modal {
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
}

.close-modal-nav {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.photo-gallery {
  width: 70%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  padding: 40px 90px 10px;
}

.photo-gallery figure {
  position: relative;
}

.photo-gallery img {
  width: 100%;
}

.photo-gallery i {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
  height: 17px;
  width: 17px;
  color: #ffffff;
  background-color: #000000;
  z-index: 3;
  border-radius: 2px;
  cursor: pointer;
}

.fa-trash-can {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-photo-form {
  display: flex;
  flex-direction: column;
  margin: 0 100px;
  background-color: #ffffff;
}

#add-photo-form {
  background-color: #ffffff;
}

.photo-icon,
label.add-photo-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-icon {
  font-size: 60px;
  height: 76px;
  width: 76px;
  color: #b9c5cc;
  background-color: #e8f1f6;
  margin-bottom: 40px;
  margin-top: -10px;
}

[type="file"] {
  height: 0;  
  width: 0;
  overflow: hidden;
}

label.add-photo-button {
  position: absolute;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  background-color: #cbd6dc;
  margin: 50px 0 0;
  width: 173px;
  text-align: center;
  border-radius: 50px;
  border: none;
  color: #306685;
  padding: 10px;
  cursor: pointer;
}

.new-photo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 165px;
  margin-top: 40px;
  background-color: #e8f1f6;
  border-radius: 3px;
}

.new-photo > p {
  font-family: Work Sans;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  background-color: #e8f1f6;
}

hr {
  margin: 40px 100px 0;
  border-top: 1px solid #b3b3b3;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.modal-add-photo-button,
#modal-confirm {
  padding: 10px;
}

#modal-add-photo {
  display: flex;
  align-items: center;
  height: 35px;
}

.category-choice {
  text-transform: capitalize;
}

#modal-confirm {
  width: 237px;
  background-color: #a7a7a7;
  border: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 30%;
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}
